.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
}

.formContainer {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.form {
  background-color: #1f2937;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 2rem;
  border: 1px solid #374151;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  color: #d1d5db;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.input,
.textarea {
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  appearance: none;
  border-radius: 0.375rem;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #374151;
  color: #d1d5db;
  line-height: 1.25;
  border: 1px solid #4b5563; /* Adding a default border */
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #a855f7;
  box-shadow: 0 0 0 2px rgba(168, 85, 247, 0.5);
}

.button {
  background-color: #9333ea;
  color: #ffffff;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 300ms;
}

.button:hover {
  background-color: #7e22ce;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.formMessage {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.125rem;
}

.success {
  color: #4ade80;
}

.error {
  color: #f87171;
}
