.experience {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
}

.container {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: #1f2937;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  border: 1px solid #374151;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; 
  height: 50px; 
  margin-right: 1rem;
  object-fit: contain;
}

.card:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0.25rem;
}

.cardCompany {
  font-size: 1rem;
  font-weight: 600;
  color: #9ca3af;
  margin-bottom: 1rem;
}

.list {
  list-style-type: disc;
  list-style-position: inside;
  color: #d1d5db;
}

.listItem {
  margin-top: 0.5rem;
}

.listItem:first-child {
  margin-top: 0;
}
