.header {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .header {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}


.title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #a78bfa, #db2777);
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    font-size: 4.5rem;
  }
}

.subtitle {
  margin-top: 1rem;
  font-size: 1.125rem;
  color: #9ca3af;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 1.25rem;
  }
}
