.nav {
  margin-top: 2rem;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .list {
    gap: 1.5rem;
  }
}

.link {
  display: block;
  background-color: #2d3748; /* gray-800 */
  color: #ffffff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 300ms;
}

.link:hover {
  background-color: #7c3aed; /* purple-600 */
}
