.grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  /* Add transition for hover effect */
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out, border-color 300ms ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px -5px rgba(168, 85, 247, 0.2), 0 8px 10px -6px rgba(168, 85, 247, 0.1);
  border-color: #a855f7;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0.01rem;
}

.cardDescription {
  color: #d1d5db;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  transition: transform 300ms;
  margin-right: 1rem;
}

.link:last-child {
  margin-right: 0;
}

.link:hover {
  transform: scale(1.1);
}

.icon {
  height: 24px;
  width: 24px;
}
