.footer {
  color: #9ca3af;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.iconContainer {
  margin-bottom: 1rem;
}

.iconLink {
  display: inline-block;
  transition: transform 300ms;
  margin: 0 0.5rem;
}

.iconLink:hover {
  transform: scale(1.1);
}

.icon {
  display: inline-block;
  height: 28px;
  width: 28px;
  color: white;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.link {
  color: #c4b5fd;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 0.875rem;
}
